
<ion-view view-title="Apply">
 <ion-nav-bar  class="bar-balanced">
      <ion-nav-back-button>
      <i class = "icon ion-arrow-left-c"></i>
      </ion-nav-back-button>
    </ion-nav-bar>

  <ion-content class="padding" style="background-color:#ffffff;">
<div class="well">
  <!-- <br/><br/> -->
       

  <div class="container"> 
  <hr>
  <h3 align="center"> Leave Form</h3>
  <hr>

<form ng-submit="onSubmit(leaveForm.$valid)" name="leaveForm" novalidate>
<div class="container">
<!--  <a class="button button-full button-positive" href="#main/dashboard"> Back </a> -->

<br>
<br>
  <div class="form-group">
      <label for="dept" class="item item-input item-select">
          <div class="input-label">
                    Department
          </div>
          <select  name="dept" class="form-control" id="dept"  ng-model="applyModel.dept" required>
                    <option>Accounts</option>
                    <option selected>Information Systems</option>
                    <option>Finance</option>
          </select>
      </label>
  </div>
  <!-- <div class="container">
   <div class="form-group"> 
            <label for="name" class="col-lg-2 control-label" > <strong>Employee Name</strong> </label>
                        
            <div class="col-lg-10">
             <br>
              <input type="text" class="form-control"  name="name" id="name"  ng-model="applyModel.name" placeholder="" required="required">
            </div>
    </div>
    </div> -->
    <br>


    <div class="form-group">
      <label for="leaveType" class="item item-input item-select">
     
          <div class="input-label">
            Leave Type
          </div>
    
          <select  name="leaveType" id="leaveType" class="form-control" ng-model="applyModel.leaveType" required>
                    <option>Previous Leave Balance</option>
                    <option selected>Casual</option>
                    <option>Annual</option>
                    <option>Compassionate</option>
                    <option>Exam</option>
          </select>
       </label>
  </div>

 <!--  <div class="container">
    <div class="form-group" align="center"> 
            <label for="leaveBalance" class="col-lg-2 control-label" > <strong> Leave Balance </strong> </label>
         
                        
            <div class="col-lg-10">
             <br>
              <input type="tel" class="form-control"  name="leaveBalance" id="leaveBalance"  ng-model="applyModel.leaveBalance" placeholder="" required="required">
            </div>
    </div>
  </div> -->
    <br>

      <div class="item item-divider" align="center"> Reliever Details </div>
      <br>
 <!--  <div class="row">
  <div class="col-md-6" align="center"> -->
         <div class="form-group">
            <label for="relName" class="col-lg-2 control-label" > <strong> Reliever's Name </strong> </label>
                        
            <div class="col-lg-10">
             <br>
              <input type="text" class="form-control"  name="relName" id="relName"  placeholder=""  ng-model="applyModel.relName" required>
            </div>
      </div>
<!-- 
  </div>
  <div class="col-md-6" align="center"> -->
     <div class="form-group">
            <label for="relEmail" class="col-lg-2 control-label" > <strong>Reliever's Email</strong> </label>
                        
            <div class="col-lg-10" >
             <br>
              <input type="email" class="form-control"  name="relEmail" id="relEmail"    placeholder="" ng-model="applyModel.relEmail" required>
            </div>
      </div>

<!--   </div>
</div> -->
<br>

<div class="item item-divider" align="center"> Duration </div>
<br>

  <!-- <div class="row"> -->
  <div class="container">
         <div class="form-group" align="center" >
            <label for="startDate" class="col-lg-2 control-label"  > <strong> Your Leave Balance is: {{leavebalance}} days  </strong> </label>
                        
            <div class="col-lg-10">
             <br>
             <!-- {{leavebalance}} -->
            </div>
      </div>


   <div class="form-group">
      <label for="LeaveDays" class="item item-input item-select">

          <div class="input-label">
            Number of Days:
          </div>
    <br>
         <!--  <input type="number" id="LeaveDays" name="LeaveDays" min="1" max="{{leavebalance}}" step="1" value="10" ng-model="applyModel.LeaveDays" placeholder="{{leavebalance}}" required> -->
          <select id="LeaveDays" name="LeaveDays"  ng-model="applyModel.LeaveDays" ng-click="dateShow()" required> </select>

       </label>
  </div>
</div>


    <!-- <div class="row"> -->
  <div class="col-md-6" align="center">
         <div class="form-group">
            <label for="startDate" class="col-lg-2 control-label" > <strong> Start Date </strong> </label>
                        
            <div class="col-lg-10">
             <br>
              <input type="date" class="form-control"  name="startDate" id="startDate"  placeholder="dd/mm/yyyy"  ng-model="applyModel.startDate" required>
            </div>
      </div>
  </div>
  <div class="col-md-6" align="center">
     <div class="form-group">
            <label for="endDate" class="col-lg-2 control-label" > <strong> End Date </strong> </label>
                        
            <div class="col-lg-10" >
             <br>
               <input type="date" class="form-control"  name="endDate" id="endDate"  placeholder="dd/mm/yyyy"  ng-model="applyModel.endDate" required>
            </div>
      </div>

  </div>
<!-- </div> -->
<br>

 <div class="container">
    <div class="form-group"> 
    
            <label for="reason" class="col-lg-12 control-label item item-input" >
                <textarea placeholder="Reason for request..." rows="15"  name="reason" id="reason"  ng-model="applyModel.reason" required></textarea>
             </label>                  
    </div>
  </div>
    <br>
                <button class="button button-block button-outline button-balanced" ng-click="showAlert()" ng-disabled="leaveForm.$invalid">Submit</button>
          </div>

         
</div>
</form>
<!--  <pre>{{ leaveForm | json }} </pre>    --> 


 </div>
  </ion-content>
</ion-view>
