 <ion-view view-title="G.M.D." name="dashboard-view">
  <ion-nav-bar  class="bar-balanced">
      <ion-nav-back-button>
      <i class = "icon ion-arrow-left-c"></i>
      </ion-nav-back-button>
    </ion-nav-bar>
   <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-buttons>
 
  <ion-content class="padding">
    <div class="container"><div class="col text-left">
      <h3 class="title">Welcome, GMD</h3>
     <div align="center">
        <img  src="img/exdesk.jpg">
        
      </div>
  
      <a class="button button-full button-energized" href="#main/pendingsIV"><i class="icon ion-android-checkbox-outline"></i>
       Pending Approvals
      </a>
      <a class="button button-full button-balanced" href="#main/onleaveIV"><i class="icon ion-ios-people"></i>
       View Staff on Leave
      </a>
      <!--  <button class="button button-full button-royal" ng-click="">
      Reports
      </button> -->
   
      <br><br>
      {{response}}
    </div></div>
  </ion-content>
</ion-view>



