<ion-view view-title="Staff On Leave">
 <ion-nav-bar  class="bar-balanced">
      <ion-nav-back-button>
      <i class = "icon ion-arrow-left-c"></i>
      </ion-nav-back-button>
    </ion-nav-bar>
   <div class="bar bar-subheader item-input-inset bar-light">
                <label class="item-input-wrapper"><i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="query"placeholder="Search">
                </label>
            </div>
            <br>
  <ion-content class="padding" style="background-color:#ffffff;">
  <br>
  <br>
      <a  href="#main/superuser"> <img id="button" src="img/tap.png"> </a>
       <br>
  <br>
               </div>
      <!-- <div class="item-text-wrap" ng-repeat="item in application | filter: { user_status: whichapplication }"> -->
            <!-- <div class="item-text-wrap" ng-repeat='item in application | filter: query'  href="#/main/pendings/{{ item.user_leaveType }}"> -->
                    <ion-item ng-class="{'star': item.star}" ng-repeat='item in application | filter: query'>
                          <h1>{{item.user_Uname}} </h1>
                          <h4>Reliever's Name: {{item.user_relName}} </h4>
                          <h4>Reliever's Email: {{item.user_relEmail}}</h4>
                          <h4>Start Date: {{item.user_startDate}}</h4>
                          <h4>End Date: {{item.user_endDate}}</h4>
                          <h4>{{item.user_status}}</h4>
                          </ion-item>
             <!-- </div> -->
      
  </ion-content>
</ion-view>