<ion-view view-title="Change Password" name="admin-view">
 <ion-nav-bar  class="bar-balanced">
      <ion-nav-back-button>
      <i class = "icon ion-arrow-left-c"></i>
      </ion-nav-back-button>
    </ion-nav-bar>
  <ion-content class="padding">

<div class="container">


          <form  class="form-horizontal" ng-submit="Update(user_password)">  
      <div class="form-group">
          <label for="user_password">
          </label>
           <input type="password" name="user_password" id="user_password" class="form-control" placeholder="New Password!" ng-model="user_password" required>


           <button class="button button-block button-positive" >Change Password!</button>
          </form>
 
    </div>
  </ion-content>
</ion-view>