<ion-view view-title="Change Password" name="admin-view">
 <ion-nav-bar  class="bar-balanced">
      <ion-nav-back-button>
      <i class = "icon ion-arrow-left-c"></i>
      </ion-nav-back-button>
    </ion-nav-bar>
  <ion-content class="padding">
    <div class="container">
      <a  href="#main/dash"> <img id="button" src="img/tap.png"> </a>
</div>

<div class="container">

      <!-- <form ng-submit="DeleteData(user_email)" class="form-horizontal"> -->
          <form  class="form-horizontal" ng-submit="Update(user_password)">  
      <div class="form-group">
          <label for="user_password">
          <!--  Email: -->
          </label>
           <input type="password" name="user_password" id="user_password" class="form-control" placeholder="New Password!" ng-model="user_password" required>
           <!-- <br>
          <input type="password" name="user_password" id="user_password" class="form-control" placeholder="New Password!" ng-model="user_password" required> -->


           <button class="button button-block button-positive" >Change Password!</button>
          </form>
 
    </div>

    <!--   <a class="button button-full button-positive" href="#main/admin" ng-click="showAlert()"> Back </a>    -->
  </ion-content>
</ion-view>