<ion-view>
			<div class="bar bar-header bar-positive">
				<a href="#signout"><button class="button icon ion-navicon" ></button></a>
				<h1 class="title">KCOBA</h1>
				<button class="button" ng-click="enrol()">Enroll</button>
			</div>
            <ion-content class="padding">
			<br/><br/><br/>
              <div align="center">
            <img src="img/good.png" />
            <h3>Enrollment was successful.</h3>
            <p>An SMS and Email have been sent containing your details.</p>
            <p ng-bind="enrollid"></p>
            <br />
			</div>
            </ion-content>
        </ion-view>