 <ion-view view-title="superuser" name="dashboard-view">
   <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-buttons>
 
  <ion-content class="padding">
    <div class="container"><div class="col text-left">
      <h3 class="title">Welcome, HOD</h3>
      
      <div align="center">
        <img  src="img/hod.png">
        
      </div>
      <a class="button button-full button-energized" href="#main/pendingsIII"><i class="icon ion-android-checkbox-outline"></i>
       Pending Approvals
      </a>
      <a class="button button-full button-balanced" href="#main/onleaveIII""><i class="icon ion-ios-people"></i>
       View Staff on Leave
      </a>

   
      <br><br>
      {{response}}
    </div></div>
  </ion-content>
</ion-view>

