<ion-view view-title="Application Detail">
  <ion-content>
   <br>
  <div class="container">
      <a href="#main/pendingsIV"> <img id="button" src="img/tap.png"> </a>
</div>
    <div class="list card padding">
      <div class="item item-divider" align="center">
         Application Details
       </div>
      <div class="item-text-wrap" ng-repeat="item in application | filter: { user_appDate: whichapplication }">
            <!-- <div class="item-text-wrap" ng-repeat='item in application | filter: query'  href="#/main/pendings/{{ item.user_leaveType }}"> -->

                      <h1>{{item.user_Uname}} </h1>
                      <b><h3 id="useremail">{{item.user_useremail}}</h3></b>
                          <h4>Leave Type: {{item.user_leaveType}}</h4>
                          <h4>Dept: {{item.user_dept}}</h4>
                          <h4>Leave Balance: <font id="leavedays"> {{item.user_leavebalance}}</font></h4>
                          <h4>No of Leave Days:<font id="days"> {{item.user_LeaveDays}}</font></h4>
                          <h4>Reliever's Name: {{item.user_relName}} </h4>
                          <h4 >Reliever's Email:<font id="email">{{item.user_relEmail}}</font></h4>
                          <h4>Start Date: {{item.user_startDate | date : "dd/MM/y"}}</h4>
                          <h4>End Date: {{item.user_endDate | date : "dd/MM/y"}}</h4>
                          <h4 id="status"> {{item.user_status}}</h4>
                          <h4>Reason:</h4>
                          <p align="justify">{{item.user_reason }}</p>
             </div>

            <div class="item item-divider" align="center">
            <div>
              <button class="button button-block icon-left ion-checkmark-round  button-balanced"><strong>Accepted By H.O.D</strong></button>
            </div>

            <div>
                <button class="button button-block icon-left ion-checkmark-round  button-balanced"><strong>Accepted By H.R.</strong></button>
            </div>
            <div>
                <button class="button button-block button-outline button-balanced" ng-click="FinalAccept()"><strong>Accept</strong></button>
          </div>

<div>
                <button class="button button-block button-outline button-balanced" ng-click="SendRejEmail()"><strong>Decline</strong></button>
          </div>
  </div>
        </div>
    </div>
  </ion-content>
</ion-view>