/* Empty. Add your own CSS if you like */
#button {
    width:30px;
    height: 30px;
    border-radius:100%;
   /* background-color: #337ab7;*/
    text-align: center;
    font-size: 10px;
 	float: left;
}

.icon {
	color: white;
}

img {
	width:100%; 
	height:50%;
	}